<style>
</style>



<div class="box1">
    <div class="qf" style="background-image: url(images/6.jpeg);"></div>
    <div class="qa avz">
        <a href="profile/index.html">
            <img class="bpj" src="/images/5.jpeg">
        </a>

        <h6 class="qb">
            <a class="boa" href="profile/index.html">Dave Gamache</a>
        </h6>

        <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

        <ul class="bpk">
            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Friends
                    <h6 class="aej">12M</h6>
                </a>
            </li>

            <li class="bpl">
                <a href="#userModal" class="boa" data-toggle="modal">
                    Enemies
                    <h6 class="aej">1</h6>
                </a>
            </li>
        </ul>
    </div>
</div>












<div class="cd fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="bpr" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="d">
                <h4 class="modal-title">Users</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body afx">
                <div class="axw">
                    <ul class="bow cj ca">
                        <li class="b">
                            <div class="rv ady">
                                <img class="bos vb yb aff" src="assets/img/avatar-fat.jpg">
                                <div class="rw">
                                    <button class="cg ns ok acx">
                                        <span class="c bps"></span> Follow
                                    </button>
                                    <strong>Jacob Thornton</strong>
                                    <p>@fat - San Francisco</p>
                                </div>
                            </div>
                        </li>
                        <li class="b">
                            <div class="rv ady">
                                <img class="bos vb yb aff" src="assets/img/avatar-dhg.png">
                                <div class="rw">
                                    <button class="cg ns ok acx">
                                        <span class="c bps"></span> Follow
                                    </button>
                                    <strong>Dave Gamache</strong>
                                    <p>@dhg - Palo Alto</p>
                                </div>
                            </div>
                        </li>
                        <li class="b">
                            <div class="rv ady">
                                <img class="bos vb yb aff" src="assets/img/avatar-mdo.png">
                                <div class="rw">
                                    <button class="cg ns ok acx">
                                        <span class="c bps"></span> Follow
                                    </button>
                                    <strong>Mark Otto</strong>
                                    <p>@mdo - San Francisco</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="by aha ahl">
    <div class="dp">
        <div class="fj">
            <div class="pz bpi afo">
                <div class="qf" style="background-image: url(assets/img/iceland.jpg);"></div>
                <div class="qa avz">
                    <a href="profile/index.html">
                        <img class="bpj" src="assets/img/avatar-dhg.png">
                    </a>

                    <h6 class="qb">
                        <a class="boa" href="profile/index.html">Dave Gamache</a>
                    </h6>

                    <p class="afo">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

                    <ul class="bpk">
                        <li class="bpl">
                            <a href="#userModal" class="boa" data-toggle="modal">
                                Friends
                                <h6 class="aej">12M</h6>
                            </a>
                        </li>

                        <li class="bpl">
                            <a href="#userModal" class="boa" data-toggle="modal">
                                Enemies
                                <h6 class="aej">1</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pz vp vy afo">
                <div class="qa">
                    <h6 class="afh">About
                        <small>·
                            <a href="#">Edit</a>
                        </small>
                    </h6>
                    <ul class="dc axg">
                        <li>
                            <span class="axc h ban aff"></span>Went to
                            <a href="#">Oh, Canada</a>
                            <li>
                                <span class="axc h bnc aff"></span>Became friends with
                                <a href="#">Obama</a>
                                <li>
                                    <span class="axc h bfa aff"></span>Worked at
                                    <a href="#">Github</a>
                                    <li>
                                        <span class="axc h bfq aff"></span>Lives in
                                        <a href="#">San Francisco, CA</a>
                                        <li>
                                            <span class="axc h bgz aff"></span>From
                                            <a href="#">Seattle, WA</a>
                    </ul>
                </div>
            </div>

            <div class="pz vp vy afo">
                <div class="qa">
                    <h6 class="afh">Photos
                        <small>·
                            <a href="#">Edit</a>
                        </small>
                    </h6>
                    <div data-grid="images" data-target-height="150">
                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_5.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_6.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_7.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_8.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_9.jpg">
                        </div>

                        <div>
                            <img data-width="640" data-height="640" data-action="zoom" src="assets/img/instagram_10.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>