<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/properties.css">
    <link rel="stylesheet" href="/css/colors.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body class="bg-primary1">
    {{{body}}}
  </body>
</html>
