/*      To be used in page background */
.bg-primary1 {
    background-color: #d6d3c4;
}
/*      Header menu background      */
.bg-primary2 {
    background-color: #cdcab9;
}
/*     To be used for : boxes, bordered boxes */
.bg-primary3 {
    background-color: #f8f7ee;
}
.bg-primary4 {
    background-color: #fff2e7;
}
.bg-primary5 {
    background-color: #f5eacd;
}




.bg-secondary1 {
    background-color: #432f21;
}
/*      button danger       */
.bg-secondary2 {
    background-color: #ca171b;
}
/*      button              */
.bg-secondary3 {
    background-color: #e9bc1b;
}
.bg-secondary4 {
    background-color: #f3843e;
}
.bg-secondary5 {
    background-color: #e05151;
}
/*    button : normal buttons,     */
.bg-secondary6 {
    background-color: #75a3d1;
}
.bg-secondary7 {
    background-color: #eb65a0;
}
.bg-secondary8 {
    background-color: #9b539c;
}
/*     Button Success : Activity done button        */
.bg-secondary9 {
    background-color: #5bb12f;
}