/*
*--------------------------------------------
*       BOX CONFIGURATION
*-------------------------------------------
*/



.box1 {
    border: 5 px solid rgb(204, 0, 0);
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 0 0 rgb(163, 161, 161);
}

.box2 {
    border: 1 px solid black;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 0 0 rgb(163, 161, 161);
}





/*
*-------------------------------------------
*       SPACE CONFIGURATION
*-------------------------------------------
*/


.inner-space1 {
    padding: 5px;
}
.inner-space1-left {
    padding-left: 5px;
}
.inner-space1-right {
    padding-right: 5px;
}
.inner-space1-top {
    padding-top: 5px;
}
.inner-space1-bottom {
    padding-bottom: 5px;
}

.inner-space2 {
    padding: 10px;
}
.inner-space2-left {
    padding-left: 10px;
}
.inner-space2-right {
    padding-right: 10px;
}
.inner-space2-top {
    padding-top: 10px;
}
.inner-space2-bottom {
    padding-bottom: 10px;
}





.outer-space1 {
    margin: 5px;
}
.outer-space1-left {
    margin-left: 5px;
}
.outer-space1-right {
    margin-right: 5px;
}
.outer-space1-top {
    margin-top: 5px;
}
.outer-space1-bottom {
    margin-bottom: 5px;
}

.outer-space2 {
    margin: 10px;
}
.outer-space2-left {
    margin-left: 10px;
}
.outer-space2-right {
    margin-right: 10px;
}
.outer-space2-top {
    margin-top: 10px;
}
.outer-space2-bottom {
    margin-bottom: 10px;
}





/*
*--------------------------------------------
*           FONT CONFIGURATION
*--------------------------------------------
*/








.font-super-large {
    font-size: 48px;
}
.font-extra-large {
    font-size: 36px;
}
.font-large {
    font-size: 24px;
}

.font-title {
    font-size: 18px;
    font-weight: 600;
}
.font-subtitle {
    font-size: 16px;
}
.font-contents {
    font-size: 14px;
}
.font-small {
    font-size: 12px;
}
.font-extra-small {
    font-size: 10px;
}

.font-low-weight {
    font-weight: 300;
}
.font-medium-weight {
    font-weight: 600;
}
.font-high-weight {
    font-weight: 900;
}